/* importamos font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Header */
header {
    background-color: #004080;
    color: white;
    padding: 15px 30px;
}
.li-nav {
    list-style: none;
}
.nav-link {
    text-decoration: none;
    color: black;
}
.nav-link:hover {
    text-decoration: underline;
}

/* Main */ 

body {
    font-family: "Roboto", sans-serif;
}
h1 {
    color: blue;
    font-size: 48px;
}
.fondo-articulo {
    background-color: aquamarine;
}
.main-section {
    color: brown;
}

/* Form */
form label {
    margin-top: 15px;
    font-weight: bold;
}
form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

/* Footer */
footer {
    background-color: #004080;
    color: white;
}
footer p {
    margin: 10px;
}
footer img {
    margin: 10px;
}